<!DOCTYPE html>
<html lang="kk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мои уроки</title>
    <!-- Загрузка тегов статики -->
    {% load static %}
    <!-- Подключение CSS -->
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

<!-- Включаем верхний navbar -->
{% include 'navbar.html' %}

<div class="container">
    <div class="content">
        <div class="welcome">
            <h1>Сәлем, Erkebulan!👋</h1>
            <p>Нажимаю кнопку ниже вы можете продолжить уроки там где остановились 😉</p>
            <a href="lesson/" class="button">Блокчейн и цифровые финансы</a>
        </div>

        <div class="topics">
            <h2 class="topics-header">Темы</h2>
            <div class="accordion">
                <div class="accordion-item">
                    <div class="accordion-item-header" onclick="toggleAccordion(this)">
                        <div class="topic-title">
                            <span>Глава 1: Введение в блокчейн и основы криптовалют</span>
                        </div>
                        <span class="topic-check"></span>
                    </div>
                    <div class="accordion-item-body">
                        <a href="lesson/" >
                            <p>Лекция 1: Блокчейн и цифровые финансы</p>
                        </a>
                        <p>Лекция 2: Основы блокчейна и его структура</p>
                        <p>Лекция 3: Создание криптокошельков и основы криптографии</p>
                    </div>
                </div>
                <!-- Другие главы -->
            </div>
        </div>
    </div>
</div>

<!-- Включаем нижнюю навигацию -->
{% include 'bottom.html' %}

<script>
    function toggleAccordion(element) {
        const body = element.nextElementSibling;
        const isVisible = body.style.display === 'block';
        body.style.display = isVisible ? 'none' : 'block';
    }
</script>
</body>
</html>
