<!DOCTYPE html>
<html lang="kk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Блокчейн и цифровые финансы</title>
    <!-- Загрузка тегов статики -->
    {% load static %}
    <!-- Подключение CSS -->
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

<!-- Включаем верхний navbar -->
{% include 'navbar.html' %}

<div class="container">
    <div class="content">
        <h1>Блокчейн и цифровые финансы</h1>
        <h2>Награда: 500🪙</h2>
        <div class="city-info">
            <div class="video-container">
                <iframe width="320" height="180" src="https://youtu.be/2Uyq74pIEYc?si=mrTH1oUEhs3_6crq" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>


            <div class="city-details">
                <p>На первой лекции был объявлен старт курса, посвящённого блокчейн-технологиям. Занятия будут проходить на русском и английском языках, что позволит расширить аудиторию и повысить восприятие материала.

Основная часть лекции была посвящена различным аспектам блокчейна и цифровых финансов. Рассматривались такие темы, как история развития денег, переход от бумажных денег к кредитным картам и цифровым валютам. Обсуждались ключевые характеристики блокчейна, включая его безопасность, децентрализацию и протоколы, а также такие концепции, как Proof-of-Work и Proof-of-Stake. Участники узнали о Сатоши Накамото, создании биткоина и его истории, а также о событиях, связанных с развитием криптовалют, включая создание Litecoin и Coinbase, а также банкротство Mt. Gox.

Лекция затронула проблемы и перспективы регулирования криптовалют в Казахстане, необходимость подготовки специалистов для работы с цифровыми активами и судебной экспертизой. Участники обсудили, как криптовалюта может рассматриваться как товар и её возможные риски, включая финансовые пирамиды. В конце лекции говорилось о будущем курса, который направлен на создание рабочей группы для законотворчества в области цифровых активов и на необходимость взаимодействия участников для повышения эффективности обучения. <p></p><p></p>
</p>

            </div>
        </div>
    </div>
    <a href="lesson/" class="button">Блокчейн и цифровые финансы</a>
</div>

<br />
<br />
<br />

<!-- Включаем нижнюю навигацию -->
{% include 'bottom.html' %}

</body>
</html>
